/* Navigation Bar Styles */
.navbar {
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 0;
  width: 100vw;
  z-index: 1000;
  transition: background-color 0.3s ease;
  position: fixed;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}

.nav-links {
  list-style-type: none;
  margin: 0.25%;
  padding-left: 10px;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* translucent film over background image */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1;
}

/*fix white bar on smaller screen sizes */
body {
  overflow-x: hidden;
}

/* Home Page Styles */
.home-page {
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0;
  max-width: none;
}

.home-page h1 {
  font-size: 13vw;
  color: #a199a7;
  margin-top: 10vh;
  font-family: 'Libre Baskerville', serif;
  text-decoration: bold;
  text-shadow: 20px 20px 40px #000;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Info Page */
.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #fff;
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
}

/* Reduce width of .info-content to occupy a smaller portion of the viewport width */
.info-content {
  width: 80;
}

/* Adjust margins and paddings for .about-me and .info-content */
.about-me {
  background-color: #a199a7;
  padding: 20px;
  margin-bottom: 20px;
}

.info-content {
  background-color: #a199a7;
  padding: 20px;
}

/* Optionally adjust the font size of headings for better readability on desktop */
.about-me h1 {
  font-size: 3rem;
}

.info-content h2 {
  text-shadow: -5px 2px 3px #000;
  font-size: 2rem;
}

/* Contact Page*/
.contact-page {
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.contact-content {
  width: 50vw; /* Adjust width as needed */
  
.contact-info {
  width: 30%; /* Adjust width as needed */
  margin-top: 20px;
  justify-content: left;
  align-items: left;
  text-align: start;
}

.form {
   z-index: 2;
   width: 30%; /* Adjust width as needed */
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
  .about-me h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .info-content h2 {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .info-section {
    justify-content: center;
  }
}
