/* style.css */

/* Navigation Bar Styles */
.navbar {
  background-color: rgba(0, 0, 0, 1); /* Initial background color (opaque black) */
  padding: 10px 0; /* Add padding to the top and bottom of the navbar */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensures it's above other content */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  position: fixed;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* Transparent background color with opacity */
  position: fixed;
}


}

.nav-links {
  list-style-type: none; /* Remove default bullet points from the list */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-links li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add spacing between navigation links */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

.nav-links li a {
  color: #fff; /* Text color of the navigation links */
  text-decoration: none; /* Remove underline from the links */
  font-weight: bold; /* Make the text bold */
}

.nav-links li a:hover {
  text-decoration: underline; /* Add underline on hover */
}


/* Home Page Styles */
.home-page {
  background-image: url('../images/Background.jpg'); /* Background image */
  background-size: cover; /* Cover the entire container with the background image */
  background-attachment: fixed; /* or scroll */
  background-position: center; /* Center the background image */
  height: 100vh; /* Fill the entire viewport height */
  width: 100vw; /* Fill the entire viewport width */
  display: flex; /* Use flexbox for centering content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Center content vertically */
  text-align: center; /* Center text horizontally */
  color: #fff; /* Text color */
}

.container {
    position: relative;
    width: 100%; /* Set width to 100% to make it fill the entire width of its parent */
    margin: 0; /* Remove margin */
    max-width: none; /* Disable maximum width */
}

.home-page h1 {
  font-size: 3em; /* Increase font size for the name */
}

.home-page p {
  font-size: 1.5em; /* Increase font size for the about me section */
}

/* "Michael Dean on home page */
.home-page h1 {
  font-size: 16em; /* Increase font size for the name */
  color: #a199a7; /* Text color */
  margin-top: 10vh; /* 25% */
  font-family: 'Libre Baskerville', serif;
  text-decoration: bold;
}
/* Info Page */
.info-section {
  display: flex; /* Use flexbox for centering content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
  color: #fff; /* Text color */
  /*maybe background*/
  background-image: url('../images/Background.jpg'); /* Background image */
  background-size: cover; /* Cover the entire container with the background image */
  background-attachment: fixed; /* or scroll */
  background-position: center; /* Center the background image */
  height: 100vh; /* Fill the entire viewport height */
  width: 100vw; /* Fill the entire viewport width */
}
